.button {
  padding: 0.35rem 0.75rem;
  font: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: 1px solid black;
}

.button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.button-with-icon {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  font: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.button-icon {
  margin-right: 0.25rem;
}

.button-with-icon:hover {
  background-color: black;
  color: white;
}
