.category-container {
  position: relative;
  min-width: 15%;
  max-width: 15%;
  /* min-height: 14rem;
  max-height: 14rem; */
  height: 14.75rem;
  overflow: hidden;
  border-radius: 10px;
}

.category-title {
  position: absolute;
  top: 0.5rem;
  font: inherit;
  font-size: var(--fs-big);
  font-weight: 700;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.category-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.category-image:hover {
  transform: scale3d(1.15, 1.15, 1.15);
}

@media only screen and (max-width: 850px) {
  .category-container {
    min-width: 30%;
    height: 13.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .category-container {
    min-width: 46%;
    height: 13.25rem;
  }
}
