.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.1rem;
  padding-right: 0.25rem;
  background-color: #f6f4f4;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-right: 0.5rem;
}

.app-title {
  font-size: var(--fs-bigger);
  font-weight: 800;
}

.navbar-mid {
  font-size: var(--fs-normal);
  font-weight: 600;
}

.navbar-mid ul {
  list-style: none;
  display: flex;
}

.navbar-mid ul li:last-child {
  display: none;
}

.navbar-link {
  margin: 0 0.6rem;
  text-decoration: underline 2px transparent;
  text-underline-offset: 5px;
  transition: text-decoration-color 500ms;
  cursor: pointer;
}

.navbar-link:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

.active {
  text-decoration: underline;
  text-decoration-color: rgb(66, 66, 66);
  text-decoration-thickness: 2px;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search,
.mobile-search {
  position: relative;
}

.search input,
.mobile-search input {
  padding: 0.4rem 0.5rem;
  padding-left: 1.8rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(35, 34, 34);
  background-color: rgb(247, 245, 245);
  font-size: inherit;
}

.mobile-search input {
  width: 99%;
  outline: none;
  /* border: none; */
}

.mobile-search {
  display: none;
  padding-inline: 0.15rem;
}

.search input:focus,
.mobile-search input:focus {
  background-color: white;
  outline: auto;
}

.search-icon {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.cart-icon {
  font-size: 1.1rem;
}

.navbar-mid ul.show {
  left: 0;
}

@media only screen and (min-width: 939px) {
  .hamburger-icon {
    display: none;
  }
}

@media only screen and (max-width: 940px) {
  .hamburger-icon {
    display: block;
  }

  .navbar-mid ul {
    z-index: 100;
    background-color: rgb(212, 212, 212);
    position: fixed;
    left: -100vw;
    top: 66px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .navbar-mid ul li {
    margin-block: 1rem;
  }

  .navbar-mid ul li:last-child {
    display: block;
  }
}

@media only screen and (max-width: 540px) {
  .search {
    display: none;
  }

  .mobile-search {
    display: block;
  }
}
