.top {
  padding: 0.5rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0.3rem 0.15rem;
}

.wrapper {
  display: flex;
  gap: 0.5rem;
}

.filters {
  padding: 0.75rem;
  /* border: 1px solid black; */
  /* min-width: 13rem; */
  min-width: 13.5rem;
  height: fit-content;
  background-color: #f7f6f6;
  border-radius: 8px;
}

.filters-button {
  display: none;
}

.button-icon {
  vertical-align: middle;
  text-align: center;
  font-size: 1.25rem;
}

.products-list-a {
  padding: 0.75rem 0.3rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.products-list-b {
  width: 100%;
  padding: 0.75rem;
  /* border: 1px solid black; */
}

@media only screen and (max-width: 480px) {
  .filters {
    display: none;
  }

  .filters-button {
    display: block;
  }

  .show-filters {
    display: block;
    min-width: 100%;
    padding: 0.1rem auto;
    z-index: 99;
  }
}
